<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="flex flex-row flex-wrap justify-between md:justify-around w-[100%] gap-4 my-4">
  {{#each courses}}
    <div class=" h-[300px] w-[23%]  md:w-[46%] rounded-2xl border border-gray-200 bg-white shadow-md overflow-hidden">
      <a href="course/{{this.slug}}">
            <img src="{{this.image}}" alt="{{this.title}}" class="w-full  object-center">
      </a>
      <div class="p-4">
          <a href="site/{{this.slug}}"></a>
          <h3 class="text-lg font-semibold text-gray-900"></h3>{{this.title}}</h3>
        <p class="mt-2 text-sm text-gray-600">{{this.description}}</p>
        <p class="mt-2 text-xs text-gray-500">Duration: {{this.duration}} hours</p>      </div>
    </div>
  {{/each}}

 {{#each (blankItem courses 4)}}
    <div class="w-[23%]  md:w-[46%] mb-4 invisible"></div>
  {{/each}}
</div>
</body>
</html>